html {
    background-color: rgb(35, 35, 47) !important;
}

body {
    overflow-x:hidden;
    color: #FFF !important;
    background-color: rgb(35, 35, 47) !important;
}

@font-face {
    font-family: MmrText;
    src: url(/Public/fonts/mmrtext.ttf);
}
select {
    margin: 50px;
    width: 100%;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #CCC;
    height:50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../Img/mouse-hover-icon-22.jpg) 96% / 30px no-repeat #EEE;
}

a {
    text-decoration: none;
    position: relative;
    color:#000000;
}
a:hover {
     text-decoration: none !important;
 }
a span {
    display: none;
    position: absolute;
    color: #676EFF;
    background: #676EFF;
    padding: 5px;
}
a:hover span {
    display: inline-block; text-align: center;
    width: 250px;
    min-height: 30px;
    margin-top: 25px;
    font-family: pt-sans, sans-serif;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
input {
    font-family: pt-sans, sans-serif;
    height: 50px;
    font-size: 20px;
    width: 100%;
    padding: 0 10px;
}

table tr th,
table tr td {
    padding: 10px;
}
ul#ul-class-navigation {
    right: 10px;
    line-height: 200px;
    position: absolute;
}
ul#ul-class-navigation li {
    color: white;
    display: inline;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: currentcolor;
}
#Header {
    position: fixed;
    top:0;
    background-color: rgb(35, 35, 47);
    width: 100%;
    height: 200px;
    z-index: 1;
    border-bottom: 1px solid rgb(36, 41, 143);
}
#Content {
    margin-top: 200px;
}
#FilterFrame {
    position: fixed;
    width: 19%;
    background-color: rgba(35, 40, 47, 0.8);
    float: left;
    top:216px;
    border: 1px solid #fff;
    margin-left: 5px;
    margin-top: 10px;
    padding: 20px;
}
#ResultsArea.Browse  {
    width: 78%;
    margin-left: 21%;
    float: left;
    position: sticky;
}
#ProductFrame {
    width: 100%;
    height: 250px;
    margin-top: 15px;
    position: relative;
    padding: 1px;
    border-bottom: 1px solid #fff;
}
.ImgFrame {
    aspect-ratio: 1/1;
    height: 99%;
    background-color: rgb(36, 41, 143);
    float: left;
}
.ImgFrame img {
    width: 250px;
    height: 250px;
}
#StockItemFrameRight {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 0;
    top: 0;
}
.ItemName {
    position: relative;
    top: 10px;
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.ItemQuantity {
    position: absolute;
    left: 250px;
    bottom: 2.5px;
    color: white;
    font-size: 15px;
}
#VideoFrame {
    width: 100%;
    height: 350px;
    background-color: #d6d6d6;
    margin-bottom: 10px;
}
#ArticleHeader {
    width: 100%;
    height: 300px;
    position: relative
}
#ImageFrame {
    width: 300px;
    height: 300px;
    background-color: rgb(36, 41, 143);
    float: left;
    margin-right: 10px;
}
.QuantityText {
    position: absolute;
    left: 310px;
    bottom: 0;
}
#StockItemHeaderLeft {
    float: right;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}

.StockItemNameViewSize {
    font-size: 35px !important;
}
.CenterPriceLeft {
    position: absolute;
    height: 100%;
    right: 0;
    width: 200px;
}
.CenterPriceLeftChild {
    position: relative;
    top: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#StockItemDescription {
    background-color: rgba(35, 40, 47, 0.8);
    width: 49%;
    float: left;
    padding: 10px;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemSpecifications {
    background-color: rgba(35, 40, 47, 0.8);
    width: 49%;
    float: left;
    padding: 10px;
    margin-left: 10px;
    margin-top:10px;
    border: 1px solid;
    font-family: pt-sans, sans-serif;
    font-size: 20px;
}
#StockItemTemp {
    background-color: rgba(0, 0, 0, 0);
    width: 34%;
    float: left;
    padding: 10px;
    margin-left: 10px;
    font-family: pt-sans, sans-serif;
    font-size: 50px
}

#StockItemBox {
    width: 65%;
}

.Labels {
    margin-bottom: 0;
    padding: 10px;
    font-size: 20px;
    margin-right: 5px;
}
.Background {
    background-color: #23232F;
    width: 100%;
    height: 100%;
    position: absolute;
}
#LogoA {
    height: 200px;
    width: 100%;
    position: absolute;
}
#LogoImage {
    background-image: url("../ProductIMGHighRes/NerdyGadgetsLogo.png");
    width: 250px;
    height: 90px;
    margin: 55px 55px 55px 10%;
}
ul#ul-class li {
    display: inline;
    color: white;
    margin-right: 1em;
    font-size: 18px;
    text-decoration: none;
    line-height: 200px;
}
ul#ul-class-price li {
    display: inline;
}
.TextPrice {
    margin-top: 16%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.HrefDecoration {
    color: #ffffff;
}

.HrefDecoration i.search {
    color: #676EFF;
}

.HrefDecoration:hover, .HrefDecoration:active {
    text-decoration: none;
    color: #ccc;
}
.TextMain {
    color: #fff;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    width: 60%;
    margin-left: 10%;
}
.HomePagePrice {
    color: #676EFF;
    font-family: vortice-concept, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 7%;
}
.HomePageStockItemPicture {
    background-image: url("../ProductIMGHighRes/580b57fbd9996e24bc43bf55.png");
    background-size: 100% 100%;
    width: 477px;
    height: 477px;
    background-repeat: no-repeat;
    margin-left: 55%;
    margin-top: -30%;
}
#Wrap {
    width: 100%;
    height: 600px;
    margin-top: 3%;
    position: relative;
    text-align: center;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.StockGroups {
    position: relative;
    border: 1px solid slategrey;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    margin-left: 1.5%;
    font-family: vortice-concept, sans-serif;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
#StockGroup1 {
    width: 18%;
    height: 600px;
    margin-left: 5%;
}
#StockGroup2 {
    width: 18%;
    height: 600px;
    background-size: cover;
}
#StockGroup3 {
    width: 15%;
    height: 41.5%;
}
#StockGroup4 {
    width: 30%;
    height: 250px;
}
#StockGroup5 {
    width: 25%;
    height: 53.5%;
    margin-top: 1.5%;
}
#StockGroup6 {
    width: 20%;
    height: 53.5%;
    margin-left: 1.5%;
    margin-top: 1.5%;
}
.StockGroups h1 {
    position: absolute;
    left:0;
    right: 0;
    font-size: 25px;
}
#StockGroup2 h1 {
    bottom: 0;
}
#StockGroup1 h1 {
    bottom: 0;
}
#StockGroup5 h1 {
    bottom: 0;
}
#StockGroup6 h1 {
    bottom: 0;
}
#Wrap a {
    text-decoration: none;
    color: white;
}
#Wrap a:hover {
    color: #ccc;
    opacity: 0.9;
}

.StockItemText {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: -15px;
}

.StockItemPriceText {
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
}

.StockItemPriceText:before {
    content: "€ ";
}

.StockItemPriceText:hover {
    text-decoration: none;
}
.StockItemID {
    font-family: vortice-concept, sans-serif;
    color: #676EFF;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 15px;
}
.StockItemName {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.StockItemComments {
    font-family: pt-sans, sans-serif;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
#CenteredContent {
    margin: 0 auto;
    width: 70%;
    padding-top: 10px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#ImageCarousel {
    width: 300px;
    height: 300px;
}
.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
    width: 20px;
    height: 20px;
}
.ListItem:hover {
    text-decoration: none;
}
#NoSearchResults {
    text-align: center;
    height: 100%;
    margin: 20px;
    position: relative;
}
#ProductNotFound {
    text-align: center;
    position: relative;

}
.IndexStyle {
    margin: 0 auto;
    width: 1400px;
}
.FilterTopMargin {
    margin-top: 20px;
}
#ProductFrame h6 {
    color: white;
}
#CategoriesBar {
    position: absolute;
    left: 280px;
}
#PageSelector {
    text-align: center;
    margin: 20px;
}
#SelectedPage {
    font-size: 18px;
    display: inline;
    font-weight: bold;
    background-color: rgb(98, 158, 255);
    padding: 15px 22px;
    border-radius: 50px;
}
.PageNumber {
    padding: 7px 15px;
    border-radius: 39px;
    background: rgb(36, 41, 143);
    border: 1px rgb(98, 158, 255) solid;
    color: #fff;
}

.AddCart{
    padding: 7% 15%;
    font-size: 39px;
    border-radius: 39px;
    background: rgb(8,188,4);
    border: 1px rgba(0,153,0,255) solid;
    color: white;
}

#fa-exclamation-triangle {
    !important;
    border: 1px rgba(153,0,0,255) solid;
    background-color: rgb(188, 8, 4);
}

#CartFrame {
    width: 96%;
    height: 200px;
    border: 1px solid #fff;
    margin: 0.5% 2%;
    display: grid;
    border-radius: 25px;
    grid-template-columns: 200px 2fr 1fr 1fr 1.25fr 1fr;
}

#TotalFrame {
    width: 96%;
    margin: 0.5% 2%;
    display: grid;
    grid-template-columns: 200px 2fr 1fr 1fr 1.25fr 1fr;
}
#CartFrame .ImgFrame {
    aspect-ratio: 1/1;
    height: 99%;
    background-color: rgb(36, 41, 143);
    float: left;
    border-radius: 25px;
}
#CartFrame .ImgFrame img {
    width: 230px;
    height: 230px;
}
#CartFrame .ImgFrame img {
    aspect-ratio: 1/1;
}

#CartItem {
    align-content: center;
    align-self: center;
    text-align: center;
}

#cart {
    margin-top: 2%;
}

.InputAmount {
    width: 45%;
    font-size: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.InputAmountButton {
    width: 45%;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
    background-color: #676EFF;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
}


.bestelKnop {
    padding: 7% 15%;
    font-size: 20px;
    border-radius: 39px;
    background: rgb(8,188,4);
    border: 1px rgba(0,153,0,255) solid;
    color: white;
}

.bestelKnop:hover {
    text-decoration: none; !important;
    color: white;
}

/* login & order pagina css */
/*
    LOGIN
 */
.totalLogin{
    border: 4px solid white;
    display: inline-grid;
    grid-template-columns: 1fr 5px 1fr;
    column-gap: 20px;
    margin: 150px 300px 7px 300px;
    padding: 40px;
    background-color: #484861;
}
.login{
    padding: 20px;
    width: 100%;
}
.middleLine{
    border-left: 6px solid white;
    height: 71%;
    position: absolute;
    left: 50%;
    margin-top: 150px;
    margin-left: -3px;
    top: 0;
}
.nonLogin{
    padding: 20px;
    top: 50%;
    align-self: center;

}
.loginText{
    text-align: center;
}


/*
    ORDER
 */
.gegevensContainer{
    display: grid;
    grid-template-columns: 65% 5px auto;
    gap: 3%;
    width: 100%;
}

.persoonGegevens{
    width: 100%;
    padding: 10px;
}
.gegevens{
    float: left;
    width: 49%;
}

.bezorgAdres{

}

.betaalLijn{
    height: 1px !important;
    border-width: 2px;
}
.betaalKeuze{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5%;
    justify-content: center;
}

/*
    OVERZICHT
 */
#overlay img {
    display: none;
}

#overlay.currently-loading img {
    display: block;
    width: 100%;
    heigth: 100%;
}

/*
    breadcrumbs voor bestellen
*/
.breadcrumbOrder{
    border: 2px solid red;
}
.steps {
    padding: 40px;
    overflow: hidden;
}
.steps li {
    float: left;
    width: 18vw;
    height: 80px;
    list-style-type: none;
    padding: 5px 5px 5px 30px;
    position: relative;
}
.steps li:first-child {
    padding-left: 5px;
}
.steps li:nth-child(n+2)::before {
    position: absolute;
    top:0;
    left:0;
    display: block;
    border-left: 25px solid white;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    width: 0;
    height: 0;
    content: " ";
}
.steps li::after {
    z-index: 1;
    position: absolute;
    top: 0;
    right: -25px;
    display: block;
    border-left: 25px solid #7c8437;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    width:0;
    height:0;
    content: " ";
}
/* Completed */
.steps li {
    background-color: #008a00;
    font-weight: bold;
    color: white;
}
.steps li::after { border-left-color: #008a00; }
/* Current */
.steps li.current { background-color: #00F900; }
.steps li.current::after { border-left-color: #00F900; }
/* Following */
.steps li.current ~ li { background-color: #CFCFCF; }
.steps li.current ~ li::after { border-left-color: #CFCFCF; }

/*
    VERWERKING
 */
.verwerkingLinks{
    padding: 20px;
    margin-left: 50px;
    text-align: center;
}
.verwerkingRechts{
    float: right;
    padding: 20px;
    margin-right: 50px;
}